@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'KantumruyRegular';
    src: url('/fonts/Kantumruy/Kantumruy-Regular.ttf')
}
@font-face {
    font-family: 'Readex_Pro';
    src: url('/fonts/Readex_Pro/static/ReadexPro-Regular.ttf')
}
